{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> {% block title %} {% endblock title %}
          FoodHut  
        </title>
        {% block metades %} {% endblock metades %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css">
        {% block style %} 
        {% endblock style %}
   
    </head>

    <body>
       <!-- Navigation bar -->
       <nav class="navbar navbar-expand-lg custom-navbar-toggler">
        <div class="container-fluid">
          <a class="navbar-brand" href="./home.html">Food <b>Hut</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <!-- <button class="btn signin-button">Signin</button>
              <button class="btn signup-button">Signup</button> -->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
              </li>
                
                  <!-- <i class="fa fa-map-marker" aria-hidden="true"> -->
                  <input class="location-box" type="text" placeholder="Select Location"> </i>
                              
            </ul>
          </div>
        </div>
      </nav>
      
    
        {% block content %}
        
        
        {% endblock content %}

        <!-- Footer -->
            <footer class="footer">
              <div class="row footer-row">
                <div class="col footer-col1">
                  <h3 class="footer-heading1">FOOD <b>HUT</b></h2>
                  <p class="footer-para"></p>
                    Our job is to fill you with delicious food Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam omnis consequuntur sit, ad enim quas maiores. Ut doloremque, sunt ipsum incidunt, voluptatum dolore ipsam placeat
                </div>
                <div class="col footer-col2">
                  <ul class="footer-list2">
                    <li><h3>About</h3></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Blogs</a></li>
                  </ul>
              
                </div>
                <div class="col footer-col3">
                  <ul class="footer-list3">
                    <li><h3>Company</h3></li>
                    <li><a href="#">Why us?</a></li>
                    <li><a href="#">Partner with us</a></li>
                    <li><a href="#">FAQ</a></li>
                  </ul>
                </div>
                </div>
              <div class="container copyright">
                <p>&copy; 2023 Food Hut</p>
              </div>
            </footer>
                <!-- Bootstrap 5 JS bundle (required for the navbar to work) -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js">

      </script>
    </body>
</html>