.main .menu-grid{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding-bottom: 50px;
    justify-content: center;
    margin-left: 50px;
    flex-wrap: wrap;
    
    }
    .card-col {
        flex: 0 0 calc(33.33% - 20px); /* Set column width to 33.33% minus 20px for margin */
        margin: 10px; /* Add margin around the column */
        box-shadow: 0 0 5px rgba(0,0,0,0.2);

    }

    .main .resturant-details{
        
        background-color: #ff0000;
        margin-top:35px;
        padding: 60px;
        /* opacity: 0.1;     */
        background-image: url("https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        justify-content: center;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
    
    .main .food-menu{
       
        /* background-color: #fff; */
        /* border-radius: 40% 5% 40% 5%; */
        border-radius: 15% 15% 15% 15%;

        margin-top:35px;
        padding-bottom: 60px;
        justify-content: center;
        /* box-shadow: 0 0 5px rgba(0,0,0,0.1); */
    }
    .main .food-menu .menu-head{
        padding-bottom:15px;
        font-size: xx-large;
        font-weight: 1000;
        text-align: center;  
        color: red;
        padding-top: 10px;

    }
    .food-details span{
        font-size: larger;
        font-weight: 600;
    }
    .fa-plus{
        padding: 8px;
        background-color: rgb(255, 147, 6);
        color: white;
        width: 35px;
        border-radius: 20px;
    }
    .main .food-menu .menu-para{
        text-align: center;
        padding-bottom:30px;
    }
    .main .menu-grid .card-col img{
        
        width: 140px;
        height: auto;
    }

   
    .main .menu-grid .card-col{
        display: flex;
        flex-direction: row;
        border: 2px solid #ffeaff;
        background-color: rgb(255, 255, 255);
        position: relative;
        width: 100%;
        text-align: center;
        border-radius: 25px;
        margin:5px;

    }
    .food-image{
        flex: 20%;
        padding-top: 25px;
    }

    .food-details{
        flex: 80%;
        margin-bottom: 5px;
    }

    .food-name{
        
        margin-top:  30px;
        font-size: large;
        font-weight: 600;
        
    }
    .food-desc{
        font-size: small;
        text-align: left;
    }
    
    .food-image{
	
        text-decoration: none;
        padding: 10px;
        border-radius: 40px;
      transition: transform 2.5s;
    }
    
    .food-image img:hover {
      transform: scale(1.2);
        
    }


@media screen and (min-width:350px) and (max-width:990px){

.food-menu{
    width: 340px;
}
.main .menu-grid{
display: flex;
flex-direction: column;
padding-bottom: 0%;


}
.main .food-menu{
    /* border-radius: 40% 5% 40% 5%; */
    border-radius: 2% 2% 2% 2%;
}
.main .menu-grid .card-col{
   right:12%;

}
.food-image{
    padding-top:10px;
}

}